debug.log
src/main.sym
src/main.vs
build/demo.d64
build/demo.d80
*.sym
*.vs
build/demo.d64
build/demo.d80
build/disk_out_d64.txt
build/disk_out_d80.txt
src/main.prg
src/data/commands.asm
src/data/script.asm
