debug.log
src/main.sym
src/main.vs
*.sym
*.vs
build/demo.d64
build/demo.d80
build/disk_out_d64.txt
build/disk_out_d80.txt
build/disk_out_d82.txt
src/main.prg
src/data/commands.asm
src/data/script.asm
src/data/img05.prg
src/data/img06.prg
src/data/img07.prg
src/data/img08.prg
src/data/img09.prg
src/data/img10.prg
src/data/img11.prg
src/data/img12.prg
src/data/img13.prg
src/data/img14.prg
src/data/img15.prg
src/data/img16.prg
src/data/img05.prg
src/data/img06.prg
src/data/img07.prg
src/data/img08.prg
src/data/img09.prg
src/data/img05.prg
src/data/img06.prg
src/data/img07.prg
src/data/img08.prg
src/data/img09.prg
src/data/images/*.prg
src/data/sfx/raw/padded/*.raw
src/data/sfx/tsx/*.prg
src/data/img/tsx/*.prg
src/data/images/converted/*.png
build/demo.d82
src/data/sfx/tsx/tscrunch_out.txt
src/data/img/tsx/tscrunch_out.txt
*.mp4